.wrapperPhoto {
  position: relative;
  // max-width: 400px;
  margin: 15px auto;
  font-size: 20px;
  color: white;
}

.img {
  width: 100%;
  border: 2px solid black;
  border-bottom: none;
}

.description {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
}
